.googleLogo {
    float: left;
}

.loginButtonText {
    color: white;
    font-family: Roboto;
    width: 100%;
    display: block;
    padding-top: 10px;
}

.loginButton {
    background-image: linear-gradient(-135deg, #6DB9EA 0%, #668AE9 100%);
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    border-radius: 2px;
    padding: 1px;
    width: 247px;
    font-size: 16px;
    outline: none;
    transition: all 0.17s @curve-standard;
    display: block;
    margin: auto;
    height: 40px
}
