.LoginView.contact {
    flex-direction: column;
}

.QMeLogo {
    display: block;
    width: 83px;
    padding-bottom: 40px;
    margin-top: 70px;
}

.hintText {
    color: grey;
}

@media only screen and (min-width: @mobile-breakpoint) { // Desktop View
    .LoginView {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        background-color: rgba(51, 73, 94, 0.725);
        min-height: 100%;
        top: 20vh;
        padding: 10vh 0;
    }

    .LoginView::after {
        content: "";
        background-image: url('/mann.jpg');
        background-size: cover;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: fixed;
        z-index: -1;
    }

    .topPanel,
    .bottomPanel {
        height: 500px;
        font-size: 20px;
        box-shadow: 10px 10px 111px 0px rgba(0, 0, 0, 0.65);
        min-width: 400px;
        max-width: 475px;
    }

    .topPanel {
        margin: 0;
        border-radius: 15px 0 0 15px;

        &.contact {
            height: 300px;
            min-width: 800px;
            border-radius: 15px 15px 0 0;
            display: block;

            .QMeLogo {
                margin: 70px 30px;
            }
        }
    }

    .bottomPanel {
        color: #8d8d8d;
        border-radius: 0 15px 15px 0;
        background-color: white;
        position: relative;

        &.contact {
            height: 200px;
            min-width: 800px;
            border-radius: 0 0 15px 15px;
        }
    }

    .QMeLogo {
        width: 118px;
        margin-top: 100px;
    }

    .hintText {
        padding-top: 50%;
    }

}


