.topPanel {
    color: white;
    height: 45vh;
    font-size: 18px;
    line-height: 1.4;
    background-image: linear-gradient(-46deg, #668AE9 0%, #6DB9EA 100%);
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hintText {
    color: grey;
}
.QMeLogo {
    display: block;
    padding-bottom: 40px;
    width: 83px;
}
.QLogo {
    bottom: 20px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 40px;
}

@media only screen and (min-width: @mobile-breakpoint) {
    .LoginView {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: stretch;
        background-color: #34495eb9;
        min-height: 100%;
        padding: 128px 0;
    }

    .LoginView::after {
        content: "";
        background-image: url('/mann.jpg');
        background-size: cover;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: fixed;
        z-index: -1;
    }

    .topPanel, .bottomPanel {
        height: 600px;
        font-size: 20px;
        box-shadow: 10px 10px 111px 0px rgba(0,0,0,0.65);
    }
    .topPanel {
        margin: 0;
        background-image: linear-gradient(40deg, #668ae9, #6db9ea);
        min-width: 400px;
        max-width: 475px;
        border-radius: 15px 0 0 15px;
    }
    .bottomPanel {
        color: #8d8d8d;
        min-width: 400px;
        max-width: 475px;
        border-radius: 0 15px 15px 0;
        background-color: white;
        position: relative;
    }
    .QLogo {
        position: absolute;
        bottom: 20px;
        margin: 0 16px 0 auto;
    }
    .QMeLogo {
        width: 118px;
    }
    .hintText {
        padding-top: 65%;
    }

}
