# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
/coverage

# production
/build
/client/build
/client/src/styles/index.min.css

# misc
.DS_Store
.env.local
.env.test.local
.env.production.local

# all folders and files beginning with a period
.*
## Exceptions
!.github/
!.eslintrc.json
!.firebaserc

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
.DS_Store

client/src/styles/index.min.css
