.Header {
    position: relative;
    background-color: white;
    box-shadow: 0 1px 6px 1px rgba(208, 208, 208, 0.47);
    height: 46px;

    .LogoContainer {
        float: left;
        width: 90px;
        height: 100%;
        margin-top: 9px; // Manual vertical align

        .QMeLogo {
            display: block;
            margin: auto;
            width: 28px;    
        }
    }

    .CalendarHeader {
        background: #7ab7fe;
        background-image: linear-gradient(74deg, #668ae9, #6db9ea);
        height: 100%;
        font-size: 15px;
        font-weight: 500;
        padding: auto;
        padding: 12px 27px;
        margin-left: 90px;

        .CurrentCourse {
            display: flex;
            justify-content: space-between;
            color: white;

            .TAMarker {
                border-radius: 3px;
                color: #7ab7fe;
                background-color: white;
                width: 44px;
                height: 20px;
                display: block;
                padding: 0px;
                margin: 0px;
                margin-left: 7px;

                &.Professor {
                    width: 60px;
                }
            }
        }

        .logoutMenu {
        span {
            padding-right: 10px;
        }
        }

        .mobileHeaderFace {
            display: none;
        }

        span {
            padding-top: 3px;
            display: flex;
        }

        @media only screen and (max-width: @mobile-breakpoint) {
            .mobileHeaderFace {
                height: 24px;
                border-radius: 28px;
                display: inline;
                cursor: pointer;
            }
        }
    }
}
