@text-color: #888888;
@time-color: #696969;
@border-color: #bfbfbf;
@interior-color: #e6e6e6;
@button-color: #454545;
@red: #f67d7d;
@green: #70d59d;

.CalendarSessionCard {
    font-size: 11px;
    padding-top: 20px;
    margin: 20px 0px;
    overflow: hidden;
    display: flex;
    cursor: pointer;
    color: @text-color;
    background-color: white;

    > * {
        margin: 0px 10px;
    }

    .TimeInfo {
        display: inline-block;
        color: @time-color;
    }

    .Indicator {
        .Circle {
            border: solid 1.5px white;
            border-radius: 14px;
            height: 14px;
            width: 14px;
            box-shadow: 0px 0px 7px grey;
        }
        
        .Line {
            width: 2px;
            height:100%;
            margin: auto;
        }

        &.live * > {
            background-color: @red;
        }

        &.open * > {
            background-color: @green;
        }

        &.closed {
            .Circle {
                background-color: @interior-color;
                border-color: @border-color;
                box-shadow: none;
            }
            .Line {
                background-color: white;
                color: @border-color;
                border-left: dashed;
            }
        }
    }
    
    .CalendarCard {
        flex-grow: 1;
        border-radius: 5px;
        padding-bottom: 15px;
        text-align: left;

        .TA {
            color: black;
            font-size: 14px;
            font-weight: bold;

            .IndicatorDesc {
                margin-left: 10px;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: normal;
                color: white;
                padding: 0px 6px;
                border-radius: 3px;

                &.live {
                    background-color: @red
                }
        
                &.open {
                    background-color: @green;
                }
        
                &.closed {
                    display: none;
                }
            }
        }

        .Queue {
            .Ahead {
                .AheadNum {
                    margin-right: 8px;
                    color: #ff6767;
                }
            }
        }

        .TimeDesc {
            color: dodgerblue;
        }
    }    

    .OpenButton {
        color: @button-color;
        font-size: 30px;
        margin: auto;
        padding-bottom: 10px;
    }
}
