.CalendarWeekSelect {
    background-color: white;
    font-size: 13px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    border-top: solid 2px #ebebeb;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;

    .LastWeek, .NextWeek {
        cursor: pointer;
        font-weight: bold;
        font-size: 30px;
    }

    .CurrentWeek {
        padding: 0px 10px;
        

        .Month {
            font-weight: bold;
            font-size: 17px;
            min-width: 90px;
            max-width: 90px;
        }

        .Days {
            font-size: 13px;
        }
    }

    .WeekControl {
        cursor: pointer;
    }
}