.CalendarWeekSelect {
    background-color: white;
    color: #454545;
    font-size: 13px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    border-top: solid 2px #ebebeb;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    clear: left;

    .LastWeek, .NextWeek {
        cursor: pointer;
        font-weight: 500;
        font-size: 30px;
        padding: 10px;
    }

    .CurrentWeek {
        .Month {
            font-weight: 500;
            font-size: 17px;
            min-width: 90px;
            max-width: 90px;
        }

        .Days {
            font-size: 13px;
        }
    }

    .WeekControl {
        cursor: pointer;
    }
}

.flipped {
    transform: scaleX(-1);
}
