@text-color: #888888;
@num-color: #545454;
@time-color: #696969;
@border-color: #bfbfbf;
@interior-color: #e6e6e6;
@button-color: #454545;
@live: #70d59d;
@open: #ffdba6;

.noHoursHeading {
    padding-top: 20vh;
    font-weight: bold;
}

.noHoursBody {
    font-family: Roboto;
    font-size: 15px;
    color: #484848;
}

.CalendarSessionCard {
    font-size: 11px;
    padding-top: 20px;
    margin: 20px 0px;
    overflow: hidden;
    display: flex;
    cursor: pointer;
    color: @text-color;
    background-color: white;

    > * {
        margin: 0px 10px;
    }

    .TimeInfo {
        display: inline-block;
        color: @time-color;
    }

    .Indicator {
        .Circle {
            border: solid 1.5px white;
            border-radius: 14px;
            height: 14px;
            width: 14px;
        }

        &.live * > {
            background-color: @live;
            box-shadow: 0px 0px 7px @live;
        }

        &.open * > {
            background-color: @open;
            box-shadow: 0px 0px 7px @open;
        }

        &.closed {
            .Circle {
                background-color: @interior-color;
                border-color: @border-color;
                box-shadow: none;
            }
        }
    }

    .CalendarCard {
        flex-grow: 1;
        border-radius: 5px;
        padding-bottom: 15px;
        text-align: left;

        .TA {
            color: black;
            font-size: 14px;
            font-weight: bold;

            .IndicatorDesc {
                margin-left: 10px;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: normal;
                color: white;
                padding: 0px 6px;
                border-radius: 3px;

                &.live {
                    background-color: @live
                }

                &.open {
                    background-color: @open;
                }

                &.closed {
                    display: none;
                }
            }
        }

        .Queue {
            .Ahead {
                .AheadNum {
                    margin-right: 8px;
                    color: #ff6767;
                    &.zero {
                        color: @num-color;
                    }
                }
            }
            .Finished {
                .FinishedNum {
                    color: @num-color;
                }
            }
        }

        .TimeDesc {
            color: #7ab7fe;
        }
    }

    .OpenButton {
        color: @button-color;
        font-size: 30px;
        margin: auto;
        padding-bottom: 10px;
    }
}
