.CalendarHeader {
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    padding: 10px 27px;

    .CourseSelectButton {
        background-color: white;
        border: none;
        font-size: 25px;
    }

    .CurrentCourse {
        float: left;

        .TAMarker {
            border-radius: 3px;
            color: white;
            background-color: #207981;
            padding: 0 5px;
            font-size: 12px;
            margin-left: 5px;
            vertical-align: middle;
            display: inline-block;
        }
    }
}
