.CalendarHeader {
    font-size: 15px;
    font-weight: 500;
    padding: 12px 27px;
    text-align: left;
    position: absolute;
    left: 0;
    right: 0;
    color: #484848;

    .CurrentCourse {
        display: flex;
        justify-content: space-between;

        .TAMarker {
            border-radius: 3px;
            color: white;
            background-color: #207981;
            font-size: 12px;
            height: 18px;
            width: 32px;
            vertical-align: middle;
            text-align: center;
            display: inline-block;
            padding-top: 0;
            margin-left: 5px;

            &.Professor {
                width: 40px;
            }
        }
    }

    .mobileHeaderFace {
        display: none;
    }

    span {
        padding-top: 3px;
        display: flex;
    }

    @media only screen and (max-width: @mobile-breakpoint) {
        .mobileHeaderFace {
            height: 24px;
            border-radius: 28px;
            display: inline;
            cursor: pointer;
        }
    }
}
