.ondot {
    height: 10px;
    width: 10px;
    background-color: #5599DB;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.offdot {
    height: 10px;
    width: 10px;
    background-color: #C4C4C4;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}