$even-color: #edeff2;
$odd-color: #ffffff;

.even {
    background-color: $even-color;
}

.odd {
    background-color: $odd-color;
}

.NoOH {
    background-color: $even-color;
}

.ExpandedEditScreen.false {
    display: none;
}

.Pair.true {
    .Preview {
        color: white;
        background-color: #898989;
        .Edit, .Delete {
            color: white;
        }
    }
    .ExpandedEdit {
        border-bottom: 1px solid #d9d9d9;
    }
}

.Pair {
    td:first-child {
        width: 35%;
    }

    .ExpandedEdit.false {
        display: none;
    }

    .Preview {
        td:first-child {
            padding-left: 5%;
        }
    }

    Button {
        display: inline-block;
        font-size: 16px;
    }

    .ExpandedEditScreen.true { 
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(112, 112, 112,0.8);
        z-index: 2;
    }

    .ExpandedEdit {
        position: fixed;
        width: 75%;
        border-radius: 8px;
        position: fixed;
        background-color: white;
        text-align: left;

        .Delete {
            background-color: white;
            border: 1px solid gray;
            float: left;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .ExpandedEdit.true {
        width: 90%;
    }

    .Pair.ExpandedEdit.Delete {
        float: right;
    }
    .ProfessorCalendarTable .Calendar td:nth-child(1) {
        padding-right: 0;
    }
    
}
