.ProfessorDelete.true {
    display: block;
}

.ProfessorDeleteScreen.true {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(112, 112, 112,0.8);
    z-index: 3;
}

.ProfessorDelete {
    display: none;

    .content {
        text-align: center;
        background-color: #fefefe;
        position: relative;
        margin-top: 15%;
        max-width: 100%;
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        -webkit-font-smoothing: subpixel-antialiased;
        -webkit-filter: blur(0);

        .x {
            padding: 4px;
            float: right;
        }

        .Action, .Cancel {
            font-size: 14px;
            padding: 10px 40px;
            border-radius: 3px;
            margin: 20px 15px;
            background-color: white;
            border: 1px solid gray;
        }

        .Action {
            background-color: #7ab7fe;
            border: 1px solid #7ab7fe;
            color: white;
        }

        .Action:disabled {
            background-color: gainsboro;
            border: 1px solid gainsboro;
        }

        .EndedText {
            color: red;
            padding-top: 15px;
        }
    }
}
