.ProfessorView {

  .DateInput_input__focused {
    border-bottom: 2px solid $brand-primary;
  }

  .CalendarDay__selected {
    background: $tag-blue;
    border-color: $tag-blue;
  }

  .CalendarDay__selected_span {
    background: $brand-primary;
    border-color: $tag-blue;
  }

  .CalendarDay__hovered_span,
  .CalendarDay__hovered_span:hover {
    background: #e4efff;
    border: 1px double #d0def5;
    color: #355372;
  }

  .CalendarMonth_caption {
    padding-bottom: 52px;
  }

  //Datepicker CSS
  .Date-picker-container {
    width: 286px;
    margin-top: 15px;
  }

  .react-datepicker-popper {
    left: 20px !important;
  }

  .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
    padding-right: 0;
    text-align: center;

    li.react-datepicker__time-list-item {
      padding: 5px 0;
    }
  }

  //End Datepicker CSS

  .first-row-container::-webkit-scrollbar {
    display: none;
  }

  .first-row-container {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    overflow-x: scroll;

    .questions-bar-container {
      width: 80%;
      background-color: white;
      border-radius: 6px;
      margin-left: 15px;
      padding: 40px 20px 20px 20px;
    }

    .Most-Crowded-Box {
      margin-top: 0px;
      margin-left: 15px;
      width: 90%;
    }

    .most-crowded-text {
      width: 30% !important;
    }

    .ta-info {
      min-height: 30%;
    }

    input {
      border-radius: 6px;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      height: 32px;
    }

    .ta-results::-webkit-scrollbar:horizontal {
      display: none;
    }

    .ta-results {
      margin-top: 5px;
      // background-color: blue;
      text-align: left;
      // max-height: 60%;
      max-height: 70px;
      overflow: auto;
      // border-style: solid;
      // border-color: rgba(0, 0, 0, .87);
      // border-width: 0.5px;
      border-radius: 6px;
      width: 100%;
      box-shadow: 1px 1px 1px 1px rgba(10, 10, 10, 0.3);

      .ta-result {
        text-align: left;
        padding: 10px 15px 10px 15px;
        width: 100%;
        color: rgba(0, 0, 0, .87);
        // border-style: solid;
        border-width: 0 0 0.5px 0;
      }

      .ta-result:hover {
        background-color: #e4efff;
      }
    }
  }

  .Total-Questions-Box {
    height: 360px;
    background-color: white;
    border-radius: 6px;
    width: 20%;
    padding-bottom: 20px;

    .percent-overlay {
      margin-top: -165px;
    }

    .Question-Number {
      font-size: 45px;
      color: #a8c7eb;
    }

    .Question-Percent {
      font-size: 45px;
      color: #a8c7eb;
    }

    .q-total-container {
      margin-top: 100px;
    }
  }

  .Most-Crowded-Box {
    display: flex;
    margin-top: 15px;
    background-color: white;
    border-radius: 6px;
    padding: 20px;

    .most-crowded-text {
      width: 20%;
      text-align: left;

      .crowd-title {
        font-size: 15px;
      }

      .maroon-date {
        color: #933131;
        font-size: 20px;
      }

      .maroon-descript {
        color: #933131;
        margin-bottom: 1px;
        font-size: 15xpx;
      }

      hr {
        margin: 24px 0px;
      }
    }

    .questions-line-container {
      width: 80%;
    }
  }
}

.bar-tooltip {
  color: white;
  font-size: 12px;
  padding: 3px 0px;
  letter-spacing: 1px;

  .tooltip-section {
    padding-left: 10px;
    text-align: left;
  }

  .tooltip-nums {
    text-align: center;
    display: flex;

    .tool-flex {
      margin-left: 10px;

      .tool-stat {
        font-size: 13px;
      }
    }
  }
}

.no-question-warning {
  margin-top: 50px;
  margin-bottom: 200px;
  background-color: white;
  border-radius: 6px;
  padding: 20px;
}