.AdminView {
    position: relative;

    h2 {
        padding-top: 1.5em;
    }

    .course-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        padding: 2em;
    }

    .create-course-btn {
        display: inline-block;
        background-color: white;
        border: solid 1px #484848;
        margin: 5px;
        margin-bottom: 20px;
        width: 150px;
        height: 40px;
        border-radius: 4px;
        text-decoration: none;
        cursor: pointer;
        font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
        transition: 0.3s;

        &:focus {
            outline: none;
        }

        &:hover {
            background: #5599DB;
            background-image: linear-gradient(80deg, #668ae9, #6db9ea);
            color: white;
            border: none;
        }
    }

    .course {
        width: 100%;
        margin: 1em auto;
        padding: 1em;
        min-height: 100%;
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.15);

        .course-section {
            margin: 1em;
        }

        .editing-button {
            display: inline-block;
            background-color: white;
            border: solid 1px #484848;
            border-radius: 4px;
            font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
            text-decoration: none;
            padding: .5em;
            margin: .25em;
            cursor: pointer;
            transition: 0.3s;
        }

        .editing-button:hover {
            background-color: #5599DB;
            color: white;
        }

        .roles-button {
            display: inline-block;
            background-color: white;
            border: solid 1px #484848;
            border-radius: 4px;
            font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
            text-decoration: none;
            padding: .5em;
            margin: .25em;
            cursor: pointer;
            transition: 0.3s;
        }

        .roles-button:hover {
            background-color: #5599DB;
            color: white;

        }

        .pending-button {
            display: inline-block;
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            background-color: white;
            border: solid 1px #484848;
            border-radius: 4px;
            text-decoration: none;
            padding: .5em 2em;
            margin: .25em;
            cursor: pointer;
            width:40%;

            &.reject {
                border-color: #C80B00;
                color: #C80B00;
                transition:0.3s;
            }

            &.reject:hover {
                background-color: rgba(200, 11, 0, 0.15);
                transition:0.3s;
            }

            &.confirm {
                border-color: #007735;
                color: #007735;
                transition:0.3s;
            }

            &.confirm:hover {
                background-color:rgba(0, 119, 53, 0.25);
                transition:0.3s;
            }
        }

        .grayText {
            text-align:left;
            color: #807B7B;
            font-family: 'Roboto';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top:7px;
        }

        .courseInfo {
            text-align:left;
            display: flex;
            padding-bottom: 16px;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
            align-self: stretch;
            margin:16px;
        }

        .courseInfoRow{
            display: grid;
            grid-template-columns: 140px 1fr;
            column-gap: 16px;
            align-items: start;
            margin-top:24px;

            .field{
                color: #5599DB;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px; 
            }
            .value{
                display: grid;
            }
            p, span{
                color: #000;
                font-family: Roboto;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin:0;
            }
        }

        .buttonRow {
            justify-content: space-evenly;
            display: flex;
        }
    }
}

@media(max-width: $mobile-breakpoint) {
    .AdminView {
        background-color: #f5f5f5;
    }
}