.AdminView {
    .course-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }

    .course {
        width: 300px;
        margin: 1em auto;
        padding: 1em;
        border: 1px solid #ccc;

        .course-section {
            margin: 1em;
        }
    }
}
