.ChatBox {
  position: fixed;
  right: 50px;
  bottom: 15px;
  width: 246px;
  height: 300px;
  

  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
  border-radius: 8px 8px 8px 8px;

  input {
    border: 1px solid gray;
    border-radius: 3px;
  }
}

.ChatBoxTop {
  /* Rectangle 167 */
  position: fixed;
  width: 246px;
  height: 32px;


  /* Primary */
  background: #77BBFA;
  border-radius: 8px 8px 0px 0px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  text-align: left;
  text-anchor: middle;

  .ChatBoxTopText {
    translate: 10px 8px;
    text-align: left;
  }

  .dropdownIcon {
    position: fixed;
    size: 10px;
    right: 60px;
    translate: 0px -4px;
  }

  
}

.TextBox {
  position: fixed;
  bottom: 25px;
  right: 88px;
  width: 200px;
  height: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 160% */


  /* Grey 2 */

  color: #888888;
}

.sendIcon {
  position: fixed;
  width: 25px;
  bottom: 28px;
  right: 56px;
}

.chatMessages {
  position: relative;
  border: 5px;
  top: 20px;
  height: auto;

  .chatMessage {
    overflow-y:auto
  }


  .displayName {
    font-size: 10px;
  }
  
  .chatMessagesSelf {
    // border: 1px solid gray;
    align-items: right;
  }

  .chatMessagesOther {
    background: #E6E6E6;
    .displayName {
      left: 0px;
    }
  }
  
  header {
    padding: 3px 0px;  
    margin: 0px 8px;
    border-radius: 6px;
    background: #D6EAFE;
    font-size: 12px;
  }
}
