.footerWrapper {
    width: 100vw;
    height: 100px;
    background: linear-gradient(225deg, #6DB8EA 30%, #668BE9 120%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerTextWrapper {
    display: flex;
<<<<<<< HEAD
    align-items: center;
    .footerLogo {
        width: 30px;
        height: 30px;
        margin: 0px 10px;
    }
=======
>>>>>>> Update Prod (#515)
    .footerText {
        color: white;
        font-family: "Roboto";
        font-weight: 300;
        font-size: 14px;
        white-space: pre-line;
<<<<<<< HEAD
        margin: 0;
=======
>>>>>>> Update Prod (#515)
    }

}
@media screen and (max-width: $mobile-breakpoint) {
    .footerWrapper {
        height: 50px;
    }
    .footerTextWrapper {
<<<<<<< HEAD
        .footerLogo {
            height: 15px;
            width: 15px;
            margin: 0 5px;
        }
=======
>>>>>>> Update Prod (#515)
        .footerText {
            font-size: 7px;
        }
    }
}
