.ImportRolesModalScreen,
.CalendarExportModalScreen,
.NotifModalScreen,
.JoinErrorMessageScreen {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(112, 112, 112, 0.8);
    z-index: 9999;
}

.ImportRolesModalVisible,
.CalendarExportModalVisible,
.NotificationModalVisible,
.JoinErrorMessageVisible {
    width: 687px;
    height: 407px;
    border-radius: 8px;
    display: flex;
    position: fixed;
    background-color: white;
    text-align: center;
    flex-direction: column;

    img {
        position: absolute;
        height: 64px;
        width: 64px;
        top: 126px;
        align-self: center;
    }

    p {
        align-self: center;
        position: absolute;
        width: 353px;
        top: 224px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 29px;
        color: #5599db;
    }

    .closeButton {
        align-self: flex-end;
        height: 45px;
        left: 74.14%;
        right: 24.61%;
        top: calc(50% - 45px / 2 - 209.5px);
        font-size: 20px;
        line-height: 48px;
        color: #484848;
        float: right;
        outline: none;
        background-color: transparent;
        border: none;
    }
}

.ImportRolesModalVisible,
.CalendarExportModalVisible {
    width: 700px;
    height: 400px;
}

.ImportRolesModalScreen,
.CalendarExportModalScreen {
    .Title {
        font-weight: 500;
        font-size: 25px;
        line-height: 20px;
        color: #484848;
        margin: 10px 0 60px 0; 
    }

    .CalendarContainer {
        display: flex;
    }

    .CalendarItem {
        flex: 1;
        text-align: center;
        display: flex;
        justify-content: center;
        
        img {
            margin-top: 10px;
        }
    }

    .ExportText {
        font-size: 20px;
        text-align: center;
        text-decoration-line: underline;
        color: #5599db;
        margin-top: 110px;
        width: 200px;
        line-height: 25px;
        cursor: pointer;
    }

    .Line {
        border: 1px solid #484848;
        height: 200px;
    }
}

.JoinErrorMessageVisible {
    p {
        width: 450px;
        font-size: 23px;
        color: #dc9c35;
    }

    .GotItButton {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: #5599db;
        height: 70px;
        border: none;
        justify-self: end;
        font-size: 20px;
        color: white;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        outline: none;
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .NotificationModalVisible {
        width: 80%;

        p {
            font-size: 22px;
            width: 80%;
        }
    }

    .ImportRolesModalVisible,
    .CalendarExportModalVisible {
        width: 80%;

        .ExportText {
            font-size: 15px;
        }

        img {
            height: 40px;
            width: 40px;
        }

        .CalendarItem {
            width: 35%;
        }
    }
}

.ManualUploadScreen,
.CSVUploadScreen {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(112, 112, 112, 0.8);
    z-index: 9999;

    
}

.EnterModal,
.CSVModal {
    border-radius: 8px;
    // display: flex;
    position: fixed;
    background-color: white;
    text-align: center;
    flex-direction: column;

    .CSVContainer,
    .EnterContainer {

        display: flex;
        text-align: center;
        flex-direction: column;

        .ConfirmButton {
            font-style: bold;
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
            color: #5599DB;
            position: absolute;
            // bottom: 32px;
            left: 139px;
        }

        p {
            color: #4A4A4A;
            font-size: 20px;
            font-weight: 500;
            padding-bottom: 10px;
        }
    }

    .closeButton {
        align-self: flex-end;
        font-size: 20px;
        color: #484848;
        float: right;
        outline: none;
        background-color: transparent;
        margin: 10px 0 0 0;
        border: none;
    }

    .backButton {
        position: absolute;
        left: 10px;
        top: 15px;
    }

    .Title {
        font-weight: 500;
        display: flex;
        justify-content: center;
        font-size: 16px;
        color: #484848;
        padding-bottom: 40px;
        line-height: 15px;
        width: 100%;

    }
}

.CSVContainer {
    height: 275px;
    width: 430px;
    display: flex;
}

.EnterContainer {
    width: 434px;
    display: flex;
}

.EnterModal {

    .AddButton {
        line-height: 17px;
        position: absolute;
        bottom: 55px;
        left: 210px;
        width: 15px;
    }


    .ConfirmButton {
        bottom: 20px;
    }

    .ColTitles {
        display: flex;
        justify-content: space-between;
        padding: 0 95px;
        height: 15px;

        p {
            font-size: 12px;
            font-weight: 400px;
        }
    }


    table {
        display: inline-block;
        margin-bottom: 77px;
        width: 370px;
        margin-top: 12px;
        border: solid;
        border-color: #696969;
        border-radius: 6px;
        background-color: #F5F5F5;
        border-spacing: 0;

        tr:first-child {
            border-left: none;
        }

        tr:last-child {
            border-right: none;
        }

        td:first-child {
            border-top: none;
        }

        td:last-child {
            border-bottom: none;
        }

        th {
            padding-left: 0;
            border: solid 1px;
            color: #696969;
        }

        #TableHeader th {
            padding-left: 25px;
        }

        input:not(.DateInput_input) {
            width: 180.5px;
            height: 38px;
            background-color: transparent;
            border: none;
            text-align: center;
            color: #888888;
        }
    }
}

.CSVModal {

    .ErrorMessage {
        font-style: italic;
        font-weight: 300 light;
        font-size: 12px;
        line-height: 18px;
        color: #F67D7D;
        text-align: center;
        margin: 4px 65px 0 65px;
    }

    .ConfirmButton {
        bottom: 32px;
    }

    .SelectFile {
        display: flex;
        justify-content: center;


        p {
            margin: 0px 15px 0 110px;
            font-size: 20px;
            font-weight: 500;
            line-height: 37px;
            width: 48px;
        }    

        Button.ChooseFile {
            width: 127px;
            height: 37px;
            margin: 0px 110px 0px 0px;
            background: #EEEEEE;
            border: 2px solid #979797;
            border-radius: 4px;
            font-size: 18px;
            font-weight: 500;
            color: #4A4A4A;
        }
    }

    .DragDrop {
        width: 323;
        height: 110px;
        background: #F1EFEF;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #4A4A4A;
        border: 3px dashed #979797;
        padding-left: 10px;
        padding-right: 10px;
        position: absolute;
        top: 178px;
        bottom: 80px;
        left: 40px;
        right: 40px;

        .DropHere {
            font-size: 20px;
            font-style: italic;
            font-weight: 500;
            line-height: 24px;
            margin: 0 0 10px 0;
        }

        .FileTypes {
            font-size: 15px;
            font-weight: 400;
            line-height: 18px;
        }

        .FileName {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 323;
            margin: 0 0 20px 0;
            img {
                display: inline-flex;
                padding-left: 7px;
                cursor: pointer; 
                margin: 0;
            }
        }

    }

    #FileLink {
        font-style: italic;
        font-weight: 500;
        font-size: 18px;
        text-decoration-line: underline;
        color: #5599DB;
    }
}
