div.warningArea {
    padding: 0.3in;
    display: inline-block;
}

aside.CalendarView {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 390px;
    box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.25);
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    user-select: none;
    background-color: #F5F5F5;
}

section.StudentSessionView {
    position: fixed;
    top: 50px;
    bottom: 0;
    right: 0;
    left: 390px;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background-color: #F5F5F5;
}

section.StudentSessionView::-webkit-scrollbar,
aside.CalendarView::-webkit-scrollbar {
    display: none;
}

.splitQuestions {
    margin: 0 48px;
}

section .SessionJoinButton {
    width: 217px;
    display: block;
}

.noSessionSelected {
    color: $text-grey;
    font-family: Roboto;
    font-size: 18px;
    padding-top: 25vh;
}

.welcomeMessage {
    padding-top: 100px;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 300;
    color: $text-grey;
}

.welcomeName {
    font-weight: 500;
}

.undoContainer {
    width: 100%;
    background-color: #b0b0b0;
    color: #ffffff;
    height: 56px;
    text-align: left;
    top: 0;
    z-index: 1;
    position: sticky;
    position: -webkit-sticky;

    .undoClose {
        position: absolute;
        top: 2px;
        left: 4px;
        cursor: pointer;
    }

    .undoText {
        line-height: 56px;
        text-align: center;

        .undoLink {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.Bookmark {
    position: absolute;
    border: 10px solid $tag-blue;
    border-bottom: 12px solid transparent;
    height: 33px;
    top: 0;
}

.feedbackPopup {
            position: fixed;
            bottom: 30px;
            right: 30px;
            display: grid;
            padding: 16px;
            align-items: flex-start;
            text-align:left;
            gap: 15px;
            align-self: stretch;
            border-radius: 16px;
            background: #EFF7FF;
            box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25);

            .close{
                position: absolute;
                right: 10px;
                top: 10px;
            }

            h1 {
                color: #000;
                font-family: "Roboto";
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                display: block;
                margin:0;
            }

            p {
                color: #807B7B;
                font-family: "Roboto";
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                display: block;
            }

            .content {
            display: flex;
            align-items: center;
            gap: 1rem;
            }

            .text {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            }

            .check {
                color: #5599DB;
            }
        }


@media only screen and (max-width: $mobile-breakpoint) {
    aside.CalendarView,
    section.StudentSessionView {
        width: 100%;
        position: relative;
        height: 100%;
        left: 0;
        top: 0;
    }

    .splitQuestions {
        margin: 10px;
    }

    .modal {
        border-radius: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: none;
        height: 100%;
        width: 100%;
    }

    section .SessionJoinButton {
        margin: 15px auto 0;
        width: 90%;
        max-width: 400px;
    }

    .undoContainer {
        background-color: #79b8b8;
    }
}

.feedbackModal {
    .Feedback {
        position: fixed;
        z-index: 4;
        top: 0;
        left: 0;
        @media only screen and (min-width: $mobile-breakpoint) {
            top: 15%;
            left: 15%;
        }
    }
}

.feedbackShade {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: hsla(0, 0%, 44%, 0.8);
}
