.wrappedBackground {
  background-color: rgba(112, 112, 112, 0.8);;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;  

  I {
    position: absolute;
    top: 12px;
    right: 10px;
  }
}

.wrappedContainer {
  border-radius: 8px;
  padding: 2rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: auto;
  width: 825px;
  height: 475px;
  color: #FFFFFF;
  background: #80B0DE;
  align-items: center;
  justify-content: center;

}

.closeButtonContainer {
  margin: 0;
  padding: 0;
  position: "absolute";
  bottom: "2rem";
  right: "1.8rem";
}

.navigateStage {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  width: 50px;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.5s;
  &:hover {
      background-color: rgba(255, 255, 255, 0.1);
  }
  .MuiSvgIcon-root {
      font-size: 2rem; 
  }
}

.prev {
  left: 0;
  justify-content: flex-start; 
  padding-left: 10px; 
}

.next {
  right: 0;
  justify-content: flex-end; 
  padding-right: 10px;
}

.dotsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 15px; // Adjust as needed for your modal
  left: 0;
  right: 0;
  margin: auto;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #FFFF; 
}

@keyframes slideInTopRight {
  0% {
      right: -50%;
      opacity: 0;
  }
  100% {
      right: 0;
      opacity: 1;
  }
}

@keyframes slideInBottomLeft {
  0% {
      left: -50%;
      opacity: 0;
  }
  100% {
      left: 0;
      opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%
  }

  100% {
    opacity: 100%;
  }
}

.intro-title{
  animation: fadeIn 1s ease-in both;
}

.intro-title:nth-child(2) {
  animation-delay: 0.75s;
  animation-duration: 0.5s;
}

.banner {
  position: absolute;
  background-color: #7a57d1; 
  color: white;
  font-weight: bold;
  padding: 5px 20px;
  font-size: 1rem;
  white-space: nowrap;
  opacity: 0;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

  &.top-right {
      top: 9rem;
      right: -50%; // Start from outside the right edge
      transform: rotate(25deg);
      transform-origin: top right;
      animation: slideInTopRight 2s forwards;
  }

  &.bottom-left {
      bottom: 6rem;
      left: -50%; // Start from outside the left edge
      transform: rotate(15deg);
      transform-origin: bottom left;
      animation: slideInBottomLeft 2s forwards;
  }
}


.banner.visible {
  display: block;
  animation: slideIn 1s ease forwards; /* 1 second duration */
}

.personalityIcon {
  width: 150px;
}

.personalityType {
  font-family: "Roboto";
  font-weight: lighter;
  color: #080680;
}
