.WrappedModalVisible {
  text-align: center;
  background-color: whitesmoke;
  height: 70vh;
  width: 60vw;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;

  .closeButton {
    z-index: 5;
    align-self: flex-end;
    height: 45px;
    left: 74.14%;
    right: 24.61%;
    top: calc(50% - 45px / 2 - 209.5px);
    font-size: 20px;
    color: #484848;
    float: right;
    outline: none;
    background-color: transparent;
    border: none;
    padding-top: 8px;
    padding-right: 8px;
  }

}

.qmi-container {
  z-index: 0;
  margin-top: -10px;
  background-color: whitesmoke;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
}

/* made positons based on font-size so it should also look good for smaller screens */
.red-circle {
  position: absolute;
  // top: 20%;
  margin-top: 3.5em;
}

.blue-circle {
  position: absolute;
  // top: 20%;
}

/* stroke array is length of path, so circumference. recalculate if radius changes.
dashoffset is percentage to draw of the path
*/
.red-circle circle {
  stroke-dashoffset: 60%;
  stroke-dasharray: 725px;
  fill: transparent;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  stroke-width: 17;
  transform: rotate(45deg);
  stroke: #FF5A60;
  animation: red-spin 5s 1.5s ease-in-out both;
}

.blue-circle circle {
  stroke-dasharray: 1135px;
  fill: transparent;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  stroke-width: 20;
  transform: rotate(45deg);
  stroke: url(#blue-gradient);
  stroke-linecap: round;
  animation: blue-spin 3s 4.5s ease-out both;
}

.arrow-circle {
  position: absolute;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  // top: 25%;
  margin-top: 10em;
  animation: spin 6s 1.5s ease-in-out both,
    fadeArrow 0.5s 8s ease-in both;
}
/* Needed two pluses since QMI plus is visibly different gradient than 
QMI Wrapped background. First plus applied to logo part of animation, 
second plus is used for the expanding transition into background. */
.first-plus,
.sec-plus {
  position: absolute;
  // top: 25%;
  margin-top: 21em;
  left: 50%;
  margin-left: 7em;
}

/* controls when the pluses appear/disappear. in sync with each others delays*/
.first-plus {
  animation: appear-n-grow 1.5s 9s ease-in-out both,
    disappear 0.01s 11.5s linear forwards;
}

.sec-plus {
  width: 61px;
  height: 61px;
  animation: disappear 11.5s linear backwards,
    grow 1s 11.5s ease-in both;
  overflow: clip;

}

@keyframes spin {
  100% {
    transform: rotate(360deg)
  }
}

@keyframes disappear {

  0%,
  100% {
    opacity: 0%;
    display: none;
  }
}

@keyframes grow {
  100% {
    transform: scale(70);
  }
}

@keyframes fadeArrow {
  99% {
    opacity: 0%
  }

  100% {
    opacity: 0%;
    display: none;
  }
}

@keyframes appear-n-grow {
  0% {
    opacity: 0%;
    transform: scale(0.5);
  }

  80% {
    opacity: 100%;
    transform: scale(1.2);
  }

  100% {
    opacity: 100%;
    transform: scale(1);
  }
}

@keyframes red-spin {
  30% {
    transform: rotate(10deg);
    stroke-dashoffset: 0%;
  }

  50% {
    transform: rotate(10deg);
    stroke-dashoffset: 0%;
  }

  75% {
    transform: rotate(120deg);
    stroke-dashoffset: 70%;
    stroke-linecap: round;
  }

  100% {
    stroke: url(#red-gradient);
    transform: rotate(180deg);
    stroke-linecap: round;
    animation-timing-function: ease-out;
  }
}

@keyframes blue-spin {
  0% {
    stroke-dashoffset: 270%;
    stroke-opacity: 0%;
  }

  100% {
    stroke-opacity: 100%;
    stroke-dashoffset: 25%;
    transform: rotate(60deg);
  }
}