.countdownUpdates {
    position: fixed;
    bottom: 30px;
    right: 50px;
}
.countdownContainer {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
    width: 413px; 
    height: 139px; 
    border-radius: 12px; 
    background: linear-gradient(63deg, #668ae9 16.65%, #6db9ea 83.35%); /* Gradient background */
}
.countdownContainer_boxes {
    color: #5599db;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2.5px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 63px;
    height: 76px;
    border-radius: 5px;
    background: #fff;
}
.textContainer {
    margin-top: 18px;
    height: 76px;
    width: 150px;
    align-items: center;
}
.ribbonBall {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 68px;
    height: 68px;
    flex-shrink: 0;
    border-width: 100px;
    cursor: pointer; 
}
.top {
    margin: 0;
    color: #fff;
    font-family: Roboto;
    font-size: 24.079px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.bottom {
    margin: 0;
    font-family: Roboto;
    font-size: 24.079px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(180deg, #fff 0%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.counter_sub {
    margin-top: 10px;
    color: #fff;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.6px;
}
.cone {
    height: 1000px;
}
.viewWrap {
    width: 209px;
    height: 89px;
    border-radius: 5px;
    border-color: #fff;
    background: #fff;
    color: #5599db;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}