.Header {

    .LogoContainer {
        float: left;
        width: 90px;
        height: 100%;
        // padding-top: 9px; // Manual vertical align

        .QMeLogo {
            display: block;
            margin: auto;
            width: 28px;
            padding: 9px 0;
        }
    }

    .CalendarHeader>span {
        line-height: 28px;
        padding: 0 10px;
        height: 28px;
    }

    .CalendarHeader {
        background: #7ab7fe;
        background-image: linear-gradient(0deg, #668ae9, #6db9ea);
        color: white;
        height: 80%;
        font-size: 15px;
        font-weight: 500;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        width: fit-content;
        padding: 2px 8px 2px 8px;
        margin-bottom: 10px;
        position: relative;
        min-width: 110px;

        .courseCode {
            align-self: center;
            color: white;
            margin-right: 5px;
        }

        .TAMarker {
            justify-content: center;
            border-radius: 3px;
            color: #69A2E9;
            background-color: white;
            margin: 5px 5px 5px 5px;
            width: 30px;
            height: 19px;
            align-items: center;

            &.Professor {
                width: 60px;
            }
        }

        .Toggle {
            width: 8px;
            margin-left: 5px;
        }

        .logoutMenu {
            span {
                padding-right: 10px;
            }
        }

         .courseMenu {
             width: 100%;
             position: absolute;
             top: 36px;
             border: solid 1px #E5E5E5;
             border-radius: 5px;
             background-color: white;
             z-index: 1;

            .editClasses {
                border-top: solid 0.5px #D4D4D4;
            }

            li {
                border: none;
                padding: 0;
                cursor: pointer;
                width: 100%;
                font-size: 15px;
                font-weight: 300;
                display: block;
        
                a {
                    color: #494949;
                    width: 100%;
                    padding: 10px;
                    display: inline-block;
                    margin: auto;
                    text-align: center;
                }

                .thisCourse {
                    color: #699CE9;
                    font-weight: 500;
                }
            }
        }

        .mobileHeaderFace {
            display: none;
        }

        span {
            display: flex;
        }

        @media only screen and (max-width: $mobile-breakpoint) {
            .mobileHeaderFace {
                position: absolute;
                right: 10px;
                top: 10px;
                height: 24px;
                border-radius: 28px;
                display: inline;
                cursor: pointer;
            }
        }
    }
}
