.ProfessorTagInfo {

    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 30px;
    margin-bottom: 60px;


    .Divider {
        margin-left: 40px;
        color: #898989;

        .Assignment {
            margin: 15px 0;

            input {
                width: 95%;
            }
        }
        
        .IsActivated {
            margin-top: 25px;
        }

        .NumQuestions {
            .react-numeric-input {
                display: block;
                width:100px;
            }

            input {
                width:100px;
            }
        }
    }
    
}