.ProfessorView{
    //Datepicker CSS
  .Category-dropdown-container{
    margin-top: 15px;
  }

  // Dropdown CSS
  .ui.selection.dropdown {
    width: 200px;
    background-color: #fff;
    border-radius: 0.285714rem;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    padding: .78571429em 2.1em .78571429em 1em;
  }

  .ui.selection.dropdown>.dropdown.icon{
      padding: .91666667em;
  }
}