.ProfessorHeader {
    background-color: white;
    width: 100%;
    height: 60px;
    padding-right: 60px;
    box-shadow: 0 1px 6px 1px rgba(208, 208, 208, 0.47);
    display: flex;
    justify-content: flex-end;
    align-items: center;

    i.icons .corner.icon {
        top:0;
        bottom: auto;
    }

    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 0px 12px 0px 30px;
    }

    .ProfessorName {
        font-size: 15px;
        font-weight: 500;
        color: #898989;
    }
}

.ProfessorHeader.false {
    .corner.icon {
        display: none;
    }
}
