.ProfessorView {
    margin: 0px 100px;

    input {
        border:none;
        background-color: #edeff2;
        margin: 0px 20px;
        height: 25px;
        padding-left: 10px;
        width: 15%;
    }

    Button {
        cursor: pointer;
    }

    // Dropdown CSS
    .ui.selection.dropdown {
        width: 40%;
        margin: 0px 20px;
        background-color: #edeff2;
        border-radius: 0px;
        border: none;
        color: black;
        padding: 5px 10px;
        min-height: 25px;
    }

    .ui.selection.dropdown>.dropdown.icon{
        padding: 4px 10px;
    }
    
    .ui.dropdown:not(.button)>.default.text {
        color: #898989;
    }
    // End Dropdown CSS
}