.ProfessorPeopleView{
  .Date-picker-container{
    width: 500px;
    margin-left: 10%;
    margin-top: 2%;
  }

  .Total-Questions-Box{
    margin-top: 2%;
    background-color: white;
    border-radius: 6px;
    margin-left: 17.5%;
    width: 20%;
    padding-bottom: 20px;
    .Question-Number{
      font-size: 50px;
      color: #a8c7eb;
    }
  }
  .Most-Crowded-Box{
    margin-top: 2%;
    background-color: white;
    border-radius: 6px;
    margin-left: 17.5%;
    width: 20%;
    padding-bottom: 20px;
  }
}
