.ProfessorAddNewOH {
    .Add.false {
        display: none;
    }

    .ExpandedAdd.false {
        display: none;
    }

    .Add {
        .NewOHButton {
        color: #4a4a4a;
        background-color: white;
        padding: 15px;
        border-radius: 3px;
        font-size: 14px;
        box-shadow: 2px 2px 4px 0 rgba(158, 158, 158, 0.5);
        float: left;
        margin-top: 30px;
        margin-right: calc(~'100% - 190px');
            .plus.icon {
                margin-right: 10px;
            }
        }
    }

    .ExpandedAdd {
        margin-top: 30px;
        background-color: white;
        width: 100%;
        text-align: left;
        box-shadow: 2px 2px 4px 0 rgba(158, 158, 158, 0.5);

        .NewOHHeader {
            border-bottom: 1px solid #d9d9d9;

            .ExpandedNewOHButton {
                background-color: white;
                padding: 15px;
                border-radius: 3px;
                font-size: 14px;
                text-align: left;

                .plus.icon {
                    margin-right: 10px;
                }
            }
        }

        .Buttons {
            border-top: 1px solid #d9d9d9;
            margin-top: 35px;
            padding: 15px 0px;
            background-color: white;
            width: 100%;
            text-align: right;

            .Create, .Cancel {
                padding: 10px 40px;
                border-radius: 3px;
                font-size: 14px;
                margin: 0px 15px;
            }

            .Create {
                background-color: #7ab7fe;
                color: white;
            }

            .Cancel {
                background-color: white;
                border: 1px solid gray;
            }

        }
    }
}
