.ProfessorView {
    .main {
        margin-right: 50px;
        margin-left: 200px+50px;

        .CalendarWeekSelect {
            margin: 5px 0;
            background-color: transparent;
            border-top: none;
        }
    }

    input {
        border:none;
        background-color: #edeff2;
        margin: 0px 20px;
        height: 25px;
        padding-left: 10px;
    }

    Button {
        cursor: pointer;
        background-color: transparent;
        border: none;
    }

    // Dropdown CSS
    .ui.selection.dropdown {
        width: 40%;
        margin: 0px 20px;
        background-color: #edeff2;
        border-radius: 0px;
        border: none;
        color: black;
        padding: 5px 10px;
        min-height: 25px;
    }

    .ui.selection.dropdown>.dropdown.icon{
        padding: 4px 10px;
    }
    
    .ui.dropdown:not(.button)>.default.text {
        color: #898989;
    }

    .ui.selection.active.dropdown .menu {
        border-color: gainsboro!important;
        border-radius: 0;
    }

    // End Dropdown CSS

    //Datepicker CSS
    .react-datepicker-popper {
        left: 20px !important;
    }

    .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
        padding-right: 0;
        text-align: center;

        li.react-datepicker__time-list-item {
            padding: 5px 0;
        }
    }
    //End Datepicker CSS
}