@header-color: dodgerblue;
@even-color: #edeff2;
@odd-color: white;

.ProfessorTagsTable {
    text-align: left;
    min-width: 900px;
    margin-top: 30px;

    .Tags {
        width: 100%;
        border-collapse: collapse;

        tr:first-child {
            th:first-child {
                border-top-left-radius: 10px; 
            }
            th:last-child {
                border-top-right-radius: 10px;
            }
        }

        .rows{
            width: 100%;
        }

        .None {
            text-align: center;
        }

        th {
            padding: 7px 0px;
            color: white;
            background-color: @header-color;
            text-align: left;
            font-weight: 500;
        }

        th:first-child {
            padding-left: 5%;
        }

        td {
            padding: 7px 0px;
        }

        td:nth-child(4) {
            width: 10%;
        }

        td:nth-child(5), td:nth-child(6) {
            width: 1%;
            padding: 0 10px;
        }
    }
}