.ProfessorTagInfo {
    margin-left: 40px;
    color: #898989;

    .Assignment {
        margin: 15px 0;

        input {
            width: 95%;
        }
    }
    
    .Time {
        margin-bottom: 15px;

        .datePicker {
            display: inline-block;
        }

        .to {
            font-size: 16px;
            color: black;
            padding: 0 15px;
        }
    }

    .NumQuestions {
        .react-numeric-input {
            display: block;
            width:100px;
        }

        input {
            width:100px;
        }
    }
}