.ProfessorOHInfo {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 30px;
    margin-bottom: 60px;

    .Divider {
        margin-left: 40px;

        .icon {
            margin-right: 10px;
        }

        .shift {
            margin-left: 27px;
        }

        .long {
            width: 40%;
            min-width: 200px;
        }

        .TA {
            margin-top: 14px;

            .AddTA.First {
                i.user.icon {
                    visibility: visible;
                }

                .AddTAButton {
                    color: dodgerblue;
                    background-color: white;
                }
        
                .AddTAButton.true {
                    color:gainsboro;
                }
            }

            .AddTA.Additional {
                margin-top: 14px;
                i.user.icon {
                    visibility: hidden;
                }
            }
        }

        .Location>input, .Time>.datePicker {
            margin-top: 24px;
        }
        
        .Time {
            .datePicker {
                display: inline-block;
            }

            // CSS to show time select only
            .timePicker {
                .react-datepicker__month-container {
                    display:none;
                }
                .react-datepicker {
                    .react-datepicker__triangle {
                        left: 35px;
                    }
                    .react-datepicker__time-container {
                        border-left: 0;
                    }
                    .react-datepicker__time {
                        border-radius: 0.3rem;
                    }
                    .react-datepicker__time-box {
                        border-radius: 0.3rem;
                        }
                }
                .react-datepicker__navigation {
                    display: none;
                }
            }
        }
    }
}