.ProfessorOHInfo {
    margin-left: 40px;

    input {
        margin: 0px 20px;
    }

    .TA {
        margin-top: 14px;

        .AddTAButton {
            color: dodgerblue;
            background-color: white;
        }

        .AddTAButton.true {
            color:gainsboro;
        }
    }

    .AddTA {
        margin-top: 14px;
        i.user.icon {
            visibility: hidden;
        }
    }

    .Location {
        margin-top: 24px;

        .long {
            width: 40%;
        }
    }
    
    .Time {
        margin-top: 24px;

        .datePicker {
            display: inline-block;
        }

        // CSS to show time select only
        .timePicker {
            .react-datepicker__month-container {
                display:none;
            }
            .react-datepicker {
                .react-datepicker__triangle {
                    left: 35px;
                }
                .react-datepicker__time-container {
                    border-left: 0;
                }
                .react-datepicker__time {
                    border-radius: 0.3rem;
                }
                .react-datepicker__time-box {
                    border-radius: 0.3rem;
                    }
            }
            .react-datepicker__navigation {
                display: none;
            }
        }

        .repeat {
            margin-left: 2%;
            color: black;
        }
    }
}