.CourseEditView {
    margin-top: 46px;
    padding: 20px 50px 0px;
    box-sizing: border-box; 

    .description {
        .title {
            font-size: 50px;
            line-height: 50px;
            padding-bottom: 40px;
        }

        .directions {
            font-size: 20px;
        }
    }

    .CourseCards {
        display: flex;
        padding: 10px;
        flex-shrink: 1;
        flex-wrap: wrap;
        justify-content: center;
    }
}