.CourseCard {
    border-radius: 4px;
    border: solid 1px black;
    max-width: 400px;


    .courseText {
        padding: 30px;

        .courseCode {
            font-size: 25px;
            font-weight: bold;
        }
    
        .courseName {
            font-size: 20px;
        }
    }
    
    .courseColor {
        position: relative;
        bottom: 0;
        height: 100px;
        background-color: #ffc5a1;
    }
}