.CourseSelection {
    .sectionDivide {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    scroll-behavior: "smooth";
    .GreyBackground {
        background-color: #F5F5F5;
        padding: 30px 47px 150px 47px;
    }

    .WhiteBackground {
        background-color: #FFFFFF;
        box-shadow: 0px 2.362499952316284px 4.724999904632568px 0px #00000040;
        border-radius: 30px;
        padding: 30px 0px 0 0px;
    }

    .QMeLogo.course {
        position: absolute;
        top: 9px;
        left: 9px;
        display: block;
        margin: auto;
        margin-left: 22px;
        width: 28px;
    }

    .selectionContent {
        margin-top: 30px;
        box-sizing: border-box;
        font-family: 'Roboto';

        .description {

            padding-left: 72px;
            text-align: left;
            color: #484848;
            display: inline-block;
            width: 100%;

            .sideblock {
                display: inline-block;
                width: 50%;
            }

            .title {
                padding-bottom: 8px;
                font-size: 28px;
                font-weight: 600;
                line-height: normal;
            }

            .subtitle {
                font-size: 18px;
                font-weight: 400;
                // padding-bottom: 30px;

                .EnrolledCourses.mobile {
                    display: none;
                }
                .icon {
                    padding-left: 10px;
                    cursor: pointer;
                }
            }

            .searchbar {
                float: right;
                display: flex;
                align-items: center;
                width: 36%;
                // margin-bottom: 34px;
                background-color: white;
                border: 2px solid #D8D8D8;
                border-radius: 15px;
                margin-top: 8px;
                margin-right: 72px;

                input {
                    flex: 1;
                    border-radius: 15px;
                    border: none;
                    font-size: 15px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    color: #7E7E7E;
                    padding: 12px 28px;

                }

                .searchIcon {
                    // margin-top: 8px;
                    font-size: 23px;
                    color: #484848;
                    margin-right: 28px;
                }


            }
        }
    }

    hr {
        border: 2px solid #F0F0F0;
    }

    .EnrolledClasses {
        margin: 36px;
        display: inline-flex;
        padding: 12px 64px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        border-radius: 15px;
        background: #F5F5F5;
        color: #5599DB;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
    }

    .CourseCards {
        display: flex;
        padding: 0px 35px 0 35px;
        flex-shrink: 1;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 15px;
        border-color: black;
    }
}


.EnrollBar {
    font-family: 'Roboto';
    float: right;
    position: fixed;
    padding: 0px 30px;
    left: 0;
    right: 0;
    bottom: 0;
    color: #484848;
    background-color: #fbfbfb;
    height: 100px;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

    .EnrolledCourses.web {
        display: block;
    }

    button:hover {
        cursor: pointer;
    }

    .buttons button {
        text-decoration: none;
        display: inline-block;
        border-radius: 4px;
        border: none;
        padding: 0;
        width: 150px;
        height: 40px;
    }

    .buttons form {
        display: inline-block;
    }

    .buttons {
        .switch {
            color: white;
            background-color: #484848;
            margin: 5px;
        }

        .save {
            color: white;
            background-color: #484848;
            margin: 5px;
        }

        .cancel {
            display: inline-block;
            background-color: white;
            border: solid 1px #484848;
            color: #484848;
            margin: 5px;
        }

        .disabled {
            opacity: 0.7;
            cursor: not-allowed;
        }
    }
}

@media only screen and (max-width: 1062px) {
    .App {
        background-color: white;
    }



    .CourseSelection {
        background-color: white;

        .GreyBackground {
            padding: 20px;
            padding-bottom: 120px;
        }

        .selectionContent {
            margin-top: 0px;

            .CourseCards {
                width: 100%;
            }

            .description {
                padding-left: 50px;
                // padding-bottom: 25px;
                // border-bottom: solid 2px #e2e2e2;

                .title {
                    padding-bottom: 20px;
                    font-weight: bold;
                }

                .subtitle {

                    .EnrolledCourses.mobile {
                        display: none; // Change to block
                    }
                }

                .searchbar {
                    font-size: 15px;
                    // display: flex;
                    width: 70%;
                    float: left;
                    margin-right: 30px;
                    margin-bottom: 30px;

                    .input {
                        // font-size: 1px;
                        min-width: 30;
                    }

                }
            }
        }
    }

    .EnrollBar {
        background-color: white;
        justify-content: space-around;

        .buttons {
            max-width: 500px;
        }

        .EnrolledCourses.web {
            display: none;
        }
    }
}