.CourseCard {
    margin: 18px 30px;
    border-radius: 15px;
    border-color: black;
    background-color: white;
    text-align: center;
    flex: 1 1 400px;
    width: 250px;
    font-family: 'Roboto';
    height: 200px;
    font-weight: 400;
    border: 2px solid #D8D8D8;
    overflow-wrap: anywhere;

    &.selected {
        background-color: rgba(214, 234, 254, 0.4);
        border: 2px solid #77BBFA;
    }

    &.editable:hover {
        cursor: pointer;
        box-shadow: 5px 10px 20px rgb(219, 219, 219);
    }

    .grid-container {
        height: 58px;
    }

    .courseColor {
        // width: 50%;
        // align-self: right;
        position: relative;
        top: 0;
        display: flex;
        align-items: center;
        // justify-content: space-between;
        padding: 19px;
        width: 100%;

        .icon,
        div {
            font-size: 18px;
            flex-shrink: 0;
            margin-left: auto;
            text-align: right;
        }

        .courseRole {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32px;
            padding: 10px 17px;
            text-align: center;
            gap: 10px;
            border-radius: 100px;

            //check coursecard for hex color of prof
            border: 2px solid #BF7913;
            color: #BF7913;
            font-size: 15px;
            position: absolute;
        }
    }

    .myClasses {
        // bottom: 50;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        // margin-bottom: 15px;
        position: relative;

        .myClassesText {
            background: #F5F5F5;
            border-radius: 15px;
            align-items: center;
            // max-width: 50%;
            padding: 10px 15px;
            // margin-bottom: 20px;
            position: static;
            bottom: 5px;
        }
    }

    .courseText {
        color: #484848;
        font-size: 36px;
        font-style: normal;
        line-height: normal;

        padding: 0px 30px 0px 30px;
        max-height: 150px;

        .courseCode {
            display: inline-flex;
            align-items: center;
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .courseName {
            font-size: 18px;
            min-height: 42px;
        }
    }


}

@media only screen and (max-width: 1062px) {
    .CourseCard {
        // min-width: 200px;
        max-width: 300px;
        // padding: 
    }
}

@media only screen and (max-width: 550px) {
    .CourseCard {
        min-width: 200px;
        // max-width: 300px;
        // padding: 
    }
}

@media only screen and (max-width: 430px) {
    .CourseCard {
        max-width: 200px;

        .courseText {
            padding: 0px 20px 10px 20px;
            .courseName {
                min-height: 2px;
            }
        }

        .courseColor {
            .courseRole {
                font-size: 16px;
            }
        }
    }
}