.CourseCard {
    margin: 25px 45px;
    border-radius: 15px;
    border-color: black;
    background-color: white;
    text-align: center;
    flex: 1 1 400px;
    width: 360px;
    font-family: 'Roboto';
    height: 260px;
    font-weight: 400;
    border: 2px solid #D8D8D8;

    &.selected {
        background-color: rgba(214, 234, 254, 0.4);
        border: 2px solid #77BBFA;
    }

    &.active:hover {
        cursor: pointer;
        box-shadow: 5px 10px 20px gray;
    }

    .courseColor {
        position: relative;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 19px 19px;
        width: 100%;

        .icon,
        div {
            font-size: 20px;
            flex-shrink: 0;
            margin-left: auto;
        }

        .courseRole {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 64px;
            height: 32px;
            padding: 10px;
            text-align: center;
            gap: 10px;
            border-radius: 100px;
            border: 2px solid #BF7913;
            color: #BF7913;
            font-size: 22px;
            position: absolute;
        }
    }

    .myClasses {
        position: relative;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .courseText {
        color: #484848;
        font-size: 36px;
        font-style: normal;
        line-height: normal;

        padding: 30px 40px 70px 40px;
        min-height: 150px;

        .courseCode {
            display: inline-flex;
            align-items: center;
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .courseName {
            font-size: 22px;
        }
    }


}

@media only screen and (max-width: $mobile-breakpoint) {
    .CourseCard {
        // min-width: 200px;
        // max-width: 200px;
    }
}