.SessionPopularQuestionsContainer {
    padding: 10px;
}

.SessionPopularQuestionsContainer-Title {
    font-size:14px;
    font-weight: 600;
    text-align:left;
}

.SessionPopularQuestionsContainer-Collapse {
    color:rgb(32, 128, 218);
}

.SessionPopularQuestionsContainer-List {
    height:85px;
    display: flex;
    flex-wrap: wrap;
}