.SessionInformationHeader {
    font-family: 'arial', sans-serif;
    color: white;
}

.header { /* Above button */
    background-color: #9b9b9b; 
    padding: 30px;
}

.CourseInfo { /* Course number and TA */
    font-size: 30px;
    text-align: left;
    padding-bottom: 20px;
}

.CourseNum { /* Course number */
    font-weight: bold;
}

.QueueInfo, .OfficeHourInfo { 
    display: inline-block;
}

.QueueInfo { /* Queue info */
    width: 50%;
    text-align: left;
}

.QueueTotal {
    font-weight: bold;
    font-size: 40px;
}

.OfficeHourInfo { /* Office hour info */
    width: 50%;
    text-align: right;
    line-height: 5px;
}

.OfficeHourLocation {
    line-height: 30px;
}

.Spacing { /* Spacing between header and button */
    padding: 10px;
}

.button { /* Join button */
    background-color: #9b9b9b;
    color: white;
    border: none;
    padding: 10px 20%;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    border-radius: 25px;
}