.googleLogo {
    float: left;
    height: 34px;
}

.loginButtonText {
    color: white;
    font-family: Roboto;
    width: 100%;
    display: block;
    padding-top: 10px;
    font-weight: 500;
    letter-spacing: 0.3px;

}

.loginButton {
    background-image: linear-gradient(-135deg, #6DB9EA 0%, #668AE9 100%);
    border-radius: 2px;
    padding: 1px;
    width: 247px;
    font-size: 16px;
    outline: none;
    transition: all 0.17s $curve-standard;
    display: block;
    margin: auto;
    height: 40px
}

.loginButton:not(:active):not(:disabled):hover {
    background-image: linear-gradient(-135deg, #63b3e9 0%, #6387e9 100%);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
    transform: translateY(-1px);
}
