.CalendarWeekSelect {
    background-color: #f9f9f9;
    border-left: solid 1.5px black;
    font-size: 13px;
    padding: 15px;
}

.CurrentWeek, .NextWeek{
    display: inline-block;
}

.ThisWeek {
    font-size: 8px;
}

.CurrentWeek {
    line-height: 15px;
    font-weight: bold;
    width: 50%;
    text-align: left;
}

.NextWeek {
    vertical-align: top;
    line-height: 30px;
    width: 50%;
    text-align: right;
}

.NextButton {
    background-color: #f9f9f9;
    color: #747474;
    font-weight: bold;
    font-size: 15px;
    border: none;
    background-size: 20px;
    height: 20px;  
    width: 20px;
}

.WeekControl {
    cursor: pointer;
}