.CalendarHeader {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px 0px;
    background-color: #f9f9f9;
    overflow: hidden;
}

button {
    background-color: #f9f9f9;
    border: none;
    font-size: 25px;
}

.CurrentCourse {
    float: left;
}

.MenuButton {
    float: right;
}