// Calendar
@import "./calendar/CalendarDateSelect";
@import "./calendar/CalendarHeader";
@import "./calendar/CalendarSessions";
@import "./calendar/CalendarView";
@import "./calendar/CalendarWeekSelect";

// Session
@import "./session/DetailedQuestionView";
@import "./session/SessionInformationHeader";
@import "./session/SessionJoinButton";
@import "./session/SessionPopularQuestion";
@import "./session/SessionPopularQuestionsContainer";
@import "./session/SessionQuestionsComponent";
@import "./session/SessionQuestionsContainer";
@import "./session/StudentSessionView";
@import "./session/TASessionView";

// Login
@import "./login/LoginView";
@import "./login/LoginButton";

.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
}

ul {
  color: #747474;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;

  li {
    border-bottom: solid 1px #747474;
    padding: 5px 0;
  }
}
