// Calendar
@import "./calendar/CalendarDateSelect";
@import "./calendar/CalendarHeader";
@import "./calendar/CalendarSessions";
@import "./calendar/CalendarView";
@import "./calendar/CalendarWeekSelect";

// Session
@import "./session/AddQuestion";
@import "./session/DetailedQuestionView";
@import "./session/SessionInformationHeader";
@import "./session/SessionJoinButton";
@import "./session/SessionPopularQuestion";
@import "./session/SessionPopularQuestionsContainer";
@import "./session/SessionQuestionsComponent";
@import "./session/SessionQuestionsContainer";
@import "./session/StudentSessionView";
@import "./session/TASessionView";

// Login
@import "./login/LoginView";
@import "./login/LoginButton";

// Split
@import "./SplitView";

// Professor
@import "./professor/ProfessorView";
@import "./professor/ProfessorHeader";
@import "./professor/ProfessorSidebar";
@import "./professor/ProfessorAddNewOH";
@import "./professor/ProfessorCalendarTable";
@import "./professor/ProfessorCalendarRow";
@import "./professor/ProfessorDelete";
@import "./professor/ProfessorOHInfo";

#root {
   height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f5f5f5 !important;
}

header {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
}

ul {
  color: #747474;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;

  li {
    border-bottom: solid 1px #747474;
    padding: 5px 0;
  }
}

nav {
    background-color: #eee;
}
