aside.CalendarView {
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    width: 390px;
    box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.25);
}

section.StudentSessionView {
    position: absolute;
    top: 20px;
    bottom: 0;
    right: 0;
    left: 390px;
}
