aside.CalendarView {
    position: fixed;
    top: 20px;
    bottom: 0;
    left: 0;
    width: 390px;
    box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.25);
    z-index: 1;
    overflow-y:scroll;
    overflow-x:hidden;
    -webkit-overflow-scrolling: touch;
    user-select: none;
}

section.StudentSessionView {
    position: fixed;
    top: 20px;
    bottom: 0;
    right: 0;
    left: 390px;
    overflow-y:scroll;
    overflow-x:hidden;
    -webkit-overflow-scrolling: touch;
}

section.StudentSessionView::-webkit-scrollbar , aside.CalendarView::-webkit-scrollbar {
    display: none;
}

.splitQuestions {
    margin: 0 48px;
}

section .SessionJoinButton {
    width: 217px;
    margin-left: 48px;
    display: block;
}

.noSessionSelected {
    color: #484848;
    font-family: Roboto;
    font-size: 18px;
    padding-top: 46vh;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    max-width: 100%;
    max-height: 100%;
    z-index: 9999;
    border-radius: 10px;
    overflow: hidden;
}

.modalShade {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: rgba(112, 112, 112, 0.8);
}

@media only screen and (max-width: @mobile-breakpoint) {
    aside.CalendarView, section.StudentSessionView {
        width: 100%;
        position: relative;
        height: 100%;
        left: 0;
    }

    .splitQuestions {
        margin: 0;
    }

    .modal {
        border-radius: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: none;
        height: 100%;
    }

    .modalShade {
        display: none;
    }

    section .SessionJoinButton {
        margin: 15px auto 0;
        width: 90%;
        max-width: 400px;
    }
}
