aside.CalendarView {
    position: fixed;
    top: 20px;
    bottom: 0;
    left: 0;
    width: 390px;
    box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.25);
    z-index: 1;
    overflow-y:scroll;
    overflow-x:hidden;
}

section.StudentSessionView {
    position: fixed;
    top: 20px;
    bottom: 0;
    right: 0;
    left: 390px;
    overflow-y:scroll;
    overflow-x:hidden;
}

section.StudentSessionView::-webkit-scrollbar , aside.CalendarView::-webkit-scrollbar {
    display: none;
}

.splitQuestions {
    margin: 0 48px;
}

section .SessionJoinButton {
    width: 217px;
    margin-left: 48px;
    display: block;
}

.noSessionSelected {
    color: #484848;
    font-family: Roboto;
    font-size: 18px;
    padding-top: 46vh;
}

@media only screen and (max-width: 600px) {
    aside.CalendarView, section.StudentSessionView {
        width: 100%;
        position: relative;
        height: 100%;
        left: 0;
    }
}
