.StudentSessionView.PopupInvisible {
    position: static;
    overflow-y: visible;
}

.StudentSessionView.PopupVisible { /* Prevents background from scrolling but jumps page up to the top */
    position: fixed;
    width: 100%;
    overflow-y: hidden;
}