.TASessionView {
    
}

.TASessionView.PopupInvisible {
    position: static;
    overflow-y: visible;
}

.TASessionView.PopupVisible { /* Prevents background from scrolling, but jumps page up to the top */
    position: fixed;
    width: 100%;
    overflow-y: hidden;
}

.SessionSorter {
    display: inline-block;
    text-align: left;
    margin:10px;
    border-radius: 12px;
    height:25px;
    border:1px solid black;
}

.SessionSorterItem {
    cursor:pointer;
    float:left;
    line-height: 13px;
    padding:5px;
    display: inline;
    font-size:10px;
    border-radius: 0 12px 12px 0;
}

.SessionSorterItem.selected{
    background: #AAA;
    cursor: default;
}

.SessionSorterItem.left {
    border-radius: 12px 0 0 12px;
    border-right:1px solid black;
}