.topBar .triggerArea, .topBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.desktop.logoutMenu {
    border-radius: 8px;
    width: 300px;
    position: fixed;
    right: 8px;
    top: 50px;
    left: auto;
    overflow: hidden;
    bottom: auto;
    box-shadow: 1px 0 5px 0 rgba(0,0,0,0.25);
    padding: 0;

    li:last-child {
        border: none;
    }
}

.topBar {
    background-color: white;
    width: 100%;
    height: 46px;
    padding-right: 46px;
    box-shadow: 0 1px 6px 1px rgba(208, 208, 208, 0.47);
    user-select: none;

    .triggerArea {
        padding: 8px;
        cursor: pointer;
    }

    i.icons .corner.icon {
        top:0;
        bottom: auto;
    }

    img {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        margin: 0px 12px 0px 30px;
    }

    .name {
        font-size: 15px;
        font-weight: 500;
        color: #898989;
    }
}

// .ProfessorHeader.false {
//     .corner.icon {
//         display: none;
//     }
// }
