name: Oberlin
on:
  push:
    branches:
      - oberlin-setup

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Set up Node
        uses: actions/setup-node@v1
        with:
          node-version: "^20.19.0"
      - name: Install
        run: |
          yarn install
          cd functions
          yarn install
          cd ..
      - name: Build Client
        env: 
          REACT_APP_API_KEY: ${{ secrets.REACT_APP_OBERLIN_KEY }}
        run: yarn build
      - name: Deploy
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
        run: |
          yarn firebase use oberlin
          yarn firebase deploy --token "$FIREBASE_TOKEN" --non-interactive
