name: Release
on:
  push:
    branches:
      - release

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Set up Node
        uses: actions/setup-node@v1
        with:
          node-version: "^20.19.0"
      - name: Install
        run: |
          yarn install
          cd functions
          yarn install
          cd ..
      - name: Build Client
        env: 
          REACT_APP_API_KEY: ${{ secrets.REACT_PROD_API_KEY }}
          NODE_OPTIONS: "--max-old-space-size=2048"
        run: yarn build
      - name: Deploy
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
        run: |
          yarn firebase use production
          yarn firebase deploy --token "$FIREBASE_TOKEN" --non-interactive
